In [8]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.preprocessing import TransactionEncoder

In [18]:
df = pd.read_csv("Groceries_dataset.csv")
df.head(3)

   Member_number        Date itemDescription
0           1808  21-07-2015  tropical fruit
1           2552  05-01-2015      whole milk
2           2300  19-09-2015       pip fruit

In [19]:
transactions = df.groupby('Member_number')['itemDescription'].apply(list).tolist()

# Apply TransactionEncoder to transform the data into the correct format

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_trans = pd.DataFrame(te_ary, columns=te.columns_)

In [21]:
df_trans.head(3)

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,True,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [24]:
frequent_itemsets = fpgrowth(df_trans, min_support=0.2, use_colnames=True)
frequent_itemsets

    support            itemsets
0  0.458184        (whole milk)
1  0.313494              (soda)
2  0.282966            (yogurt)
3  0.206003           (sausage)
4  0.349666        (rolls/buns)
5  0.376603  (other vegetables)
6  0.233710    (tropical fruit)
7  0.230631   (root vegetables)
8  0.213699     (bottled water)

In [28]:
frequent_itemsets_sorted = frequent_itemsets.sort_values(by='support', ascending=False)
frequent_itemsets_sorted

    support            itemsets
0  0.458184        (whole milk)
5  0.376603  (other vegetables)
4  0.349666        (rolls/buns)
1  0.313494              (soda)
2  0.282966            (yogurt)
6  0.233710    (tropical fruit)
7  0.230631   (root vegetables)
8  0.213699     (bottled water)
3  0.206003           (sausage)